<ul class="list-group">
  <li
    class="list-group-item"
    [ngClass]="{ selected: book.id === selectedBook?.id}"
    *ngFor="let book of books"
    (click)="selectBook(book)">
    {{ book.title }}, <em>{{ book.author }}</em>
  </li>
</ul>

<section *ngIf="selectedBook" class="mt-4" id="editor">
  <form (ngSubmit)="saveBook()" [formGroup]="formGroup">
    <p class="lead">Edit selected book</p>
    <div>
      <label for="title" class="form-label">Title *</label>
      <input type="text" id="title" class="form-control" formControlName="title">
      <div class="invalid-feedback">
        {{ dumpErrors(formGroup.controls.title.errors) }}
      </div>
    </div>
    <div class="mt-2">
      <label for="author" class="form-label">Author *</label>
      <input type="text" id="author" class="form-control" formControlName="author">
      <div class="invalid-feedback">
        {{ dumpErrors(formGroup.controls.author.errors) }}
      </div>
    </div>
    <div class="mt-2">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" class="form-control" rows="6" formControlName="description"></textarea>
      <div class="invalid-feedback">
        {{ dumpErrors(formGroup.controls.description.errors) }}
      </div>
    </div>

    <div class="d-md-flex justify-content-md-end gap-2 mt-3">
      <button type="button" class="btn btn-light" (click)="toggleDisable()">Disable/enable</button>
      <button type="button" id="cancel" class="btn btn-light" (click)="cancelEditing()">Cancel</button>
      <button type="submit" id="save" class="btn btn-primary" [disabled]="formGroup.invalid || formGroup.pristine">Save</button>
    </div>
  </form>
</section>
