<h3>Edit selected book</h3>
<form [formGroup]="formGroup">
  <div>
    <label for="title" class="form-label">Title</label>
    <input id="title" type="text" class="form-control" formControlName="title">
    <div class="invalid-feedback">
      Title is invalid.
      {{ formGroup.controls.title.errors | errorMsg : 'title' }}
    </div>
  </div>
  <div class="mt-3">
    <label for="author" class="form-label">Author</label>
    <input id="author" type="text" class="form-control" formControlName="author">
    <div class="invalid-feedback">
      Author is invalid.
      {{ formGroup.controls.author.errors | errorMsg : 'author' }}
    </div>
  </div>
  <div class="mt-3">
    <label for="description" class="form-label">Description</label>
    <textarea id="description" class="form-control" formControlName="description"></textarea>
    <div class="invalid-feedback">
      Description is invalid.
      {{ formGroup.controls.description.errors | errorMsg: 'description' }}
    </div>
  </div>
  <div class="mt-3 nav justify-content-end d-md-flex gap-2">
    <button id="save" class="btn btn-primary" (click)="save()" [disabled]="formGroup.invalid || formGroup.pristine">Save</button>
    <button id="cancel" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button class="btn btn-secondary" (click)="formGroup.controls.title.disable()">Disable</button>
    <button class="btn btn-secondary" (click)="formGroup.enable()">Enable</button>
  </div>
</form>
