<form (ngSubmit)="saveBook()" [formGroup]="formGroup">
  <p class="lead">Edit selected book {{ book?.title }}</p>
  <div>
    <app-input label="Title" inputId="title" formControlName="title" [mandatory]="true"></app-input>
  </div>
  <div class="mt-2">
    <app-input label="Author" inputId="author" formControlName="author" [mandatory]="true"></app-input>
  </div>
  <div class="mt-2">
    <label for="description" class="form-label">Description</label>
    <textarea id="description" class="form-control" rows="6" formControlName="description"></textarea>
    <div class="invalid-feedback">
      {{ formGroup.controls.description.errors | errorMsg : 'description' }}
    </div>
  </div>
  <ng-container formGroupName="edition">
    <div class="mt-2">
      <app-input label="Publisher" inputId="publisher" formControlName="publisher"></app-input>
    </div>
    <div class="mt-2">
      <app-input label="Publish year" inputId="publishYear" formControlName="publishYear"></app-input>
    </div>
    <div class="mt-2">
      <app-input label="Edition number" inputId="editionNumber" formControlName="editionNumber"></app-input>
    </div>
  </ng-container>

  <div class="d-md-flex justify-content-md-end gap-2 mt-3">
    <button type="button" class="btn btn-light" (click)="toggleDisable()">Disable/enable</button>
    <button type="button" id="cancel" class="btn btn-light" (click)="editingCancelled.emit()">Cancel</button>
    <button type="submit" id="save" class="btn btn-primary" [disabled]="formGroup.invalid || formGroup.pristine">Save</button>
  </div>
</form>
